@import url('/assets/css/style.css');


.formulario{
    padding: 2rem 1rem;
}
.formulario-titulo{
    font-size: 2rem;
}
.btn-enviar{
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 1.5rem;
}
@media screen and (min-width:768px) {
    .logo{
        margin-right: 2rem;
     }
 
     .header-section{
         justify-content: flex-start;
     }
     .header-buscar{
         width: 50%;
     }
     .input-buscar{
         width:80%;
     }  
}

@media screen and (min-width:1200px) {
  
}